.inbox {
  .row();
  padding: 2em 0;
}

.inbox article {
  border-bottom: 1px dotted #eaeaea;
  padding-bottom: 2rem;
  position: relative;
}

.inbox article .permalink {
  display: inline-block;
  float: right;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.inbox article .actions {
  position: absolute;
  left: 100%;
  padding: 2em 0;
  .opacity(0);
  .transition(opacity 400ms ease-in-out);

  button .glyphicon {
    top: 2px;
  }

  button {
    .transition(background 300ms ease-in-out);
  }

  button:hover {
    .animation(rainbows 1.2s infinite);
  }
}

.inbox article:hover .actions {
  .opacity(1);
}

.inbox article iframe {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

.inbox > h1 {
  text-align: center;
  color: @brand-primary;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: @big-ass-font-md;

  @media (min-width: @screen-lg-min) {
    font-size: @big-ass-font-lg;
  }
}

.page-controls {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  padding: 1em;
  box-sizing: border-box;
  background: rgba(255,255,255,0.9);
  font-family: 'Vollkorn', serif;

  a {
    color: @gray-darker;
    text-decoration: none;
    border-bottom: 1px solid @brand-primary;
    display: inline-block;
    margin-right: 1em;
    .transition(border 300ms ease-in-out);

    &:hover {
      border-color: @gray-darker;
    }

    &.disabled {
      color: @gray-lighter;
      border-color: @gray-lighter;
    }
  }
}
