@import "bootstrap/bootstrap.less";

// Bootstrap Overrides
@import "overrides";
@brand-primary: rgb(77, 226, 237);

// Custom Colors
@extra-light-grey: rgb(216, 216, 216);
@medium-dark-grey: rgb(74, 74, 74);
@brand-lowlight: darken(@brand-primary, 20%);

// components
@import "components/rainbows";
@import "components/big-form";

// pages
@import "pages/login.less";
@import "pages/inbox.less";
