{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  <div class="inbox">
    <h1>{{ username }}@destroy.email</h1>
    {% for msg in inbox.page %}
    <article class="message col-xs-12 col-md-8 col-md-offset-2 msg-{{msg.id}}">
      <h3>{{ msg.subject }}</h3>
      <p>
        <i>{{ msg.from|first.address }}</i> &ndash; <span class="timestamp">{{ msg.createdAt.toString() }}</span>
        <a class="permalink" href="/inbox/{{ msg.id }}"><span class="glyphicon glyphicon-link"></span></a>
      </p>
      {% if msg.html %}
      <div class="well">
        <iframe class="msg-{{msg.id}}" seamless srcdoc="{{ msg.html }}{{ inbox.iframeHelper({ id: msg.id }) }}"></iframe>
      </div>
      {% else %}
      <pre><code>{{ msg.text }}</code></pre>
      {% endif %}
      <div class="actions col-sm-3">
        <button type="button" class="btn btn-default" data-archive="{{ msg.id }}">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button type="button" class="btn btn-default" data-favorite="{{ msg.id }}">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
<div class="page-controls">
  <a href="{% if (page === 1) %}javascript: void(0){% else %}{{ prevPage }}{% endif %}" {% if (page === 1) %}class="disabled"{% endif %}>&laquo; Previous</a>
  <a href="{{ nextPage }}">Next &raquo;</a>
</div>
{% endblock %}


{% block endscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
<script src="/js/stickyfloat.js"></script>
<script src="/js/inbox.js"></script>
{% endblock %}
